{% extends "base.html %}

{% load widget_tweaks %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error {% endif %}">
            <label for="{{ field.id_for_label }}">
                {% if field.field.required %}
                    <span class="required">{{ field.label }}</span>
                {% else %}
                    {{ }}
                {% endif %}
            </label>
        </div>
    {% endfor %}
</form>

{% endblock content %}